body {
    background-color: rgb(11, 10, 9);
    color: rgb(250, 209, 253)
}

h1 {
    color: rgb(251, 201, 251) !important;
}

p {
    color: rgb(74, 104, 250);
}

#slogan {
    color: rgb(251, 161, 233)
}

.fontbigger {
    font-size: larger;
    font-weight: bold;
    color: rgb(100, 237, 132)
        /*!important*/
    ;
}