body {background-color:rgb(255, 253, 250);}
h1 {color: rgb(82, 119, 39) !important;}
.fontbigger{
    font-size: larger; 
    font-weight: bold;
    color: black "!important";}

#soln_para{color: rgb(54, 99, 141);}
p {color: rgb(82, 119, 39);}
#bullet_points{color:blueviolet}
#intro{
    border:2px solid;
}
    .bordered{
        border: 2px solid olivedrab;
        border-radius: 5px;
        padding-left: 6px;
}

    .bordered-left{
        border-left-width: 5px;
        border-left-style: dashed;
        border-left-color: blueviolet;
        padding-left: 6px;
        margin-top: 4px; 
    }
#soln_para{color: rgb(54, 99, 141);}


nav > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    border-right:2px solid rgb(42, 120, 165);
    border-left:2px solid rgb (42, 120, 165);
}

nav a {
    text-decoration: none;
    font-variant: small-caps;
    display: inline-block;
    padding: 8px;
}

nav a:link {
    color: antiquewhite;
}

nav a:visited {
    color: antiquewhite;
}

nav a:hover:nt(.active) {
    background-color: darkolivegreen;
}