body {background-color: rgb(255, 240, 194); }
h1 { color:brown !important;}
.fontbigger { 
  font-size: larger; /* confer with client */
  font-weight: bold;
  color: black /*!important*/;
}   
#soln_para {color: red;}
p { color: navy;}
#intro {
  border: 2px groove;
}
.bordered {
  border: 2px dashed blue;
  border-radius: 5px;
  padding-left: 5px;
}
.bordered-left {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: blueviolet;
  padding-left: 8px;
}
div {
  margin-bottom: 20px;
}