body {background-color: rgb(255, 240, 194); }
h1 { color:brown !important;}
.fontbigger { 
  font-size: larger; /* confer with client */
  font-weight: bold;
  color: black /*!important*/;
}   
#soln_para {color: red;}
p { color: navy;}
#intro {
  border: 2px groove;
}
.bordered {
  border: 2px dashed blue;
  border-radius: 5px;
  padding-left: 5px;
}
.bordered-left {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: blueviolet;
  padding-left: 8px;
}
div {
  margin-bottom: 20px;
}
nav {
  background-color: rgb(182, 92, 92);
  font-size: large;
  text-transform: capitalize;
  color: antiquewhite;
  margin: 0px;
  padding: 0px;
}

nav > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  border-right: 2px solid brown;
}

nav a {
  text-decoration: none;
  font-variant: small-caps;
  display: inline-block;
  padding: 8px;
}

nav a:link {
  color: antiquewhite;
}

nav a:visited {
  color: antiquewhite;
}

nav a:hover:not(.active) {
  background-color: navy;
}

nav .active {
  background-color: grey;
}

