body {
  background-color: rgb(255, 240, 194);
 }

body * {
    box-sizing: border-box;
}

h1 { 
  color:brown !important;
}

.fontbigger { 
  font-size: larger; /* confer with client */
  font-weight: bold;
  color: black /*!important*/;
}  

#soln_para {color: red;}

p { color: navy;}

#intro {
  border: 2px groove;
}

.bordered {
  border: 2px dashed blue;
  border-radius: 5px;
  padding-left: 5px;
}

.bordered-left {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: blueviolet;
  padding-left: 8px;
}

div {
  margin-bottom: 20px;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#content {
  position: relative;
  top: 125px;
}


.logo {
  /* width: 100px; */
  height: 100px;
  display: inline-block;
  margin: 0px;
}

.logo img {
  width: auto;
  height: 100%;
}

nav {
  background-color: rgb(182, 92, 92);
  font-size: large;
  text-transform: capitalize;
  color: antiquewhite;
  margin: 0px;
  padding: 0px;
}

 nav.flexy-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
 }

nav > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.navlinks {
  display: flex;
  flex-wrap: wrap;
}

ul.navlinks li {
  border-right: none;
}

ul.navlinks a {
  background-color: rgb(182, 92, 92);
  border-right: 2px solid brown;
}

ul.navlinks .active {
  background-color: grey;
}

nav li {
  display: inline-block;
  border-right: 2px solid brown;
}

nav a {
  text-decoration: none;
  font-variant: small-caps;
  display: inline-block;
  padding: 8px;
}

nav a:link {
  color: antiquewhite;
}

nav a:visited {
  color: antiquewhite;
}

nav a:hover:not(.active) {
  background-color: navy;
}

nav .active {
  background-color: grey;
}

#float_example img {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#float_img_gallery .box{
  float: left;
  width: 33.33%;
  padding-right: 10px;
}

#float_img_gallery img {
  max-width: 100%;
}

.flexy-content {
  background-color: blue;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  /* height:250px; */
  align-items: center;

}

.flexy-content > div {
  background-color: grey;
  font-size: 40px;
  padding: 35px;
  margin: 15px;
  flex-grow: 1;  
}

.flexy-content > #four {
  flex-grow: 4;
}


@media (max-width: 600px) {
  .flexy-content {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
  }

  .flexy-content > div {
    flex: 100%
  }

  nav.flexy-nav {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  ul.navlinks {
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(182, 92, 92);
  }

  ul.navlinks li {
    background-color: rgb(182, 92, 92);
    display: flex
  }

  ul.navlinks a {
    border-right: none;
  }

}