body {background-color: azure;
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}
h1 { 
    color: green !important;
}

p { color: navy;}
#Solving_para {color: red;}
.fontbigger { 
    font-size: larger; 
    font-weight: 500;
    color: peru /*!important*/;}
    
    .bordered {
        border: 2px dashed gold;
        border-radius: 3px;
        padding-left: 5px;
        margin-bottom: 50px;
    }
    .bordered-left {
        border-left-width: 3px;
        border-left-style: solid;
        border-left-color: blueviolet;
        padding-left: 5px;

    }
    div {
        margin-bottom: 20px;
    }

    #navbar {
        position: fixed;
        width: 100;
        top: 0;
        z-index: 1;
    }

    #content {
        position: relative;
        top: 125px;
    }

    nav {
        background-color: tan;
        font-size: large;
        text-transform: capitalize;
        color: whitesmoke;
        margin: 0px;
        padding-left: 5px;
    }

    nav > ul {
        list-style-type: none;
        margin: 0px;
        padding-left: 0px;
    }

    nav li {
        display: inline;
        padding-right: 7px;
        border-right: none;
    }

    nav a {
        text-decoration: none;
        display: inline-block;
        padding: 8px;
    }

    nav a:link {
        color: whitesmoke;
    }

    nav a:visited {
        color: whitesmoke;
    }

    nav a:hover:not(.active) {
        color: black;
    }

    nav .active {
        background-color: rgb(183, 183, 180); 
    }

    #float_example img {
        float: left;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #float_img_gallery .box {
        float: left;
        width: 33.33%;
        padding-right: 10px;
    }
        
    #float_img_gallery img {
        max-width: 100%;
    }

    .flexy-content {
        background-color:indigo;
        display: flex;
        /* flex-direction: row;
        flex-wrap: wrap;*/
        flex-flow: row wrap ;
        justify-content: space-evenly;
        height:250px;
        align-items: center;
    }

    .flexy-content > div {
        background-color: grey;
        font-size: 40px;
        padding: 35px;
        margin: 12px;
        flex-grow: 1;
    }

    .flexy-content > #four {
        flex-grow: 4;
    }

    @media (max-width: 400px) {
        .flexy-content {
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: stretch;
        }  
        .flexy-content > div {
            flex: 100%
        }

    }