body {background-color: azure;}
h1 { color: green !important;}
p { color: navy;}
#Solving_para {color: red;}
.fontbigger { 
    font-size: larger; 
    font-weight: 500;
    color: peru /*!important*/;}
    
    .bordered {
        border: 2px solid gold;
        border-radius: 3px;
    }

    